.o-pagination {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  @include mobile-down {
    justify-content: center;
  }

  &_linkPage {
    display: block;
    padding: 8px 0;
    text-align: center;
  }

  &_page {
    background: #f0f0f0;
    border-radius: 5px;
    color: #141414;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    line-height: 24px;
    list-style-type: none;
    margin: 0 2px;
    outline: none;
    width: 40px;
  }

  &_activePage {
    background: aqua;
    color: white;
    font-weight: 700;
  }

  &_previous,
  &_next {
    background: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    list-style-type: none;
    margin: 0 4px;
    position: relative;
    width: 60px;

    > a {
      display: block;
      line-height: 0;
      padding: 20px 0;
      text-align: center;
    }
  }

  &_break {
    background: white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    line-height: 24px;
    list-style-type: none;
    margin-right: 4px;
    width: 40px;
  }

  &_breakLink {
    display: block;
    padding: 8px 0;
    text-align: center;
  }

  .disabled {
    background: #bfbfbf;
  }
}
